@font-face {
  font-family: "Golos Regular";
  src: url("../fonts/GolosText_Regular.woff2") format("woff2"),
       url("../fonts/GolosText_Regular.woff") format("woff");
}

@font-face {
  font-family: "Golos Medium";
  src: url("../fonts/GolosText_Medium.woff2") format("woff2"),
       url("../fonts/GolosText_Medium.woff") format("woff");
}

@font-face {
  font-family: "Golos Bold";
  src: url('../fonts/GolosText_Bold.woff2') format('woff2'),
       url('../fonts/GolosText_Bold.woff') format('woff');
}
